/* line 1, app/stylesheets/_landing.scss */
.hero-content {
  background-color: #2F1D57;
  padding: 100px 0;
  background: #2F1D57;
  color: white; }
  /* line 6, app/stylesheets/_landing.scss */
  .hero-content h1 {
    font-size: 70px;
    margin-bottom: 50px;
    font-weight: 300; }

/* line 13, app/stylesheets/_landing.scss */
.selling-points {
  padding: 100px 0;
  color: white; }
  /* line 16, app/stylesheets/_landing.scss */
  .selling-points .point h5 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    height: 85px; }
  /* line 23, app/stylesheets/_landing.scss */
  .selling-points .point p {
    font-size: 14px; }

/* line 1, app/stylesheets/_album.scss */
.album-header-container {
  margin-top: 55px;
  margin-bottom: 40px; }
  /* line 6, app/stylesheets/_album.scss */
  .album-header-container .album-header-information {
    margin-top: 45px;
    margin-bottom: 20px;
    color: white; }
    /* line 11, app/stylesheets/_album.scss */
    .album-header-container .album-header-information h3, .album-header-container .album-header-information h4, .album-header-container .album-header-information h5 {
      line-height: 150%; }
    /* line 17, app/stylesheets/_album.scss */
    .album-header-container .album-header-information h3 {
      font-size: 48px;
      font-weight: 300; }
    /* line 21, app/stylesheets/_album.scss */
    .album-header-container .album-header-information h4 {
      font-size: 24px;
      font-weight: 700; }
    /* line 26, app/stylesheets/_album.scss */
    .album-header-container .album-header-information h5 {
      font-size: 16px;
      font-weight: 500; }
  /* line 33, app/stylesheets/_album.scss */
  .album-header-container .table.album-song-listing {
    font-weight: 300;
    color: white; }
    /* line 38, app/stylesheets/_album.scss */
    .album-header-container .table.album-song-listing td {
      padding: 20px;
      border-top: 1px solid rgba(255, 255, 255, 0.4); }
  /* line 44, app/stylesheets/_album.scss */
  .album-header-container .album-song-button {
    text-align: center;
    font-size: 14px;
    background-color: white;
    color: #d2287b;
    border-radius: 50% 50%;
    display: inline-block;
    width: 28px;
    height: 28px; }
    /* line 53, app/stylesheets/_album.scss */
    .album-header-container .album-song-button:hover {
      cursor: pointer;
      color: white;
      background-color: #d2287b; }
    /* line 58, app/stylesheets/_album.scss */
    .album-header-container .album-song-button i {
      line-height: 28px; }
    /* line 61, app/stylesheets/_album.scss */
    .album-header-container .album-song-button .fa-play {
      padding-left: 5px; }
    /* line 64, app/stylesheets/_album.scss */
    .album-header-container .album-song-button td {
      vertical-align: center; }
  /* line 69, app/stylesheets/_album.scss */
  .album-header-container td.song-number {
    padding: 0;
    height: 70px;
    text-align: center; }

/* line 1, app/stylesheets/_collection.scss */
.collection-album-container {
  margin-top: 30px;
  margin-bottom: 20px; }
  /* line 5, app/stylesheets/_collection.scss */
  .collection-album-container .caption {
    margin-top: 10px; }
    /* line 7, app/stylesheets/_collection.scss */
    .collection-album-container .caption p {
      font-size: 16px;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.6); }
      /* line 11, app/stylesheets/_collection.scss */
      .collection-album-container .caption p a {
        color: rgba(255, 255, 255, 0.6); }
        /* line 13, app/stylesheets/_collection.scss */
        .collection-album-container .caption p a.album-name {
          color: white; }
  /* line 19, app/stylesheets/_collection.scss */
  .collection-album-container img {
    max-width: 100%; }
  /* line 22, app/stylesheets/_collection.scss */
  .collection-album-container .collection-album-image-container {
    position: relative; }
  /* line 25, app/stylesheets/_collection.scss */
  .collection-album-container .collection-album-image-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10; }
  /* line 34, app/stylesheets/_collection.scss */
  .collection-album-container .collection-overlay-content {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center; }
  /* line 40, app/stylesheets/_collection.scss */
  .collection-album-container .collection-overlay-button {
    font-size: 20px;
    background-color: white;
    color: #d2287b;
    border-radius: 50% 50%;
    display: inline-block;
    width: 42px;
    height: 42px; }
    /* line 48, app/stylesheets/_collection.scss */
    .collection-album-container .collection-overlay-button:hover {
      cursor: pointer;
      color: white;
      background-color: #d2287b; }
    /* line 53, app/stylesheets/_collection.scss */
    .collection-album-container .collection-overlay-button i {
      line-height: 42px; }
    /* line 56, app/stylesheets/_collection.scss */
    .collection-album-container .collection-overlay-button .fa-play {
      padding-left: 5px; }

/* line 1, app/stylesheets/_player_bar.scss */
.player-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  background: rgba(255, 255, 255, 0.3);
  z-index: 100; }
  /* line 10, app/stylesheets/_player_bar.scss */
  .player-bar a, .player-bar a:hover {
    color: white;
    cursor: pointer;
    text-decoration: none; }
  /* line 16, app/stylesheets/_player_bar.scss */
  .player-bar .container {
    display: table;
    padding: 0;
    min-height: 100%; }
  /* line 22, app/stylesheets/_player_bar.scss */
  .player-bar .left-controls {
    width: 25%;
    text-align: left; }
  /* line 27, app/stylesheets/_player_bar.scss */
  .player-bar .right-controls {
    width: 25%;
    text-align: right; }
  /* line 33, app/stylesheets/_player_bar.scss */
  .player-bar .play-controls a {
    font-size: 20px;
    vertical-align: middle; }
  /* line 38, app/stylesheets/_player_bar.scss */
  .player-bar .play-controls .previous {
    margin-right: 65px; }
  /* line 42, app/stylesheets/_player_bar.scss */
  .player-bar .play-controls .play-pause {
    margin-right: 60px;
    font-size: 30px; }
  /* line 48, app/stylesheets/_player_bar.scss */
  .player-bar .currently-playing {
    width: 50%;
    text-align: center;
    position: relative; }
    /* line 53, app/stylesheets/_player_bar.scss */
    .player-bar .currently-playing .song-name, .player-bar .currently-playing .artist-name {
      text-align: center;
      margin: 0;
      position: absolute;
      width: 100%;
      font-size: 16px;
      font-weight: 300; }
    /* line 61, app/stylesheets/_player_bar.scss */
    .player-bar .currently-playing .song-name {
      top: 20px; }
    /* line 64, app/stylesheets/_player_bar.scss */
    .player-bar .currently-playing .artist-name {
      bottom: 20px; }
  /* line 69, app/stylesheets/_player_bar.scss */
  .player-bar .queue-toggle {
    display: inline-block;
    margin-left: 75px; }
    /* line 73, app/stylesheets/_player_bar.scss */
    .player-bar .queue-toggle i {
      font-size: 20px; }
  /* line 78, app/stylesheets/_player_bar.scss */
  .player-bar .volume {
    display: inline-block; }
    /* line 81, app/stylesheets/_player_bar.scss */
    .player-bar .volume i {
      width: 40px;
      font-size: 20px;
      display: inline-block;
      vertical-align: middle; }
    /* line 88, app/stylesheets/_player_bar.scss */
    .player-bar .volume .seek-bar {
      display: inline-block;
      width: 100px;
      vertical-align: middle; }

/* line 96, app/stylesheets/_player_bar.scss */
.player-bar-control-group {
  display: table-cell;
  vertical-align: middle; }

/* line 101, app/stylesheets/_player_bar.scss */
.seek-control {
  position: relative; }
  /* line 104, app/stylesheets/_player_bar.scss */
  .seek-control .current-time {
    position: absolute;
    top: 10px; }
  /* line 108, app/stylesheets/_player_bar.scss */
  .seek-control .total-time {
    position: absolute;
    right: 0;
    top: 10px; }

/* line 115, app/stylesheets/_player_bar.scss */
.seek-bar {
  height: 5px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  position: relative;
  cursor: pointer; }
  /* line 122, app/stylesheets/_player_bar.scss */
  .seek-bar .fill {
    background: white;
    width: 36%;
    height: 5px;
    border-radius: 2px; }
  /* line 129, app/stylesheets/_player_bar.scss */
  .seek-bar .thumb {
    position: absolute;
    height: 10px;
    width: 10px;
    background: white;
    left: 36%;
    margin-left: -5px;
    top: 50%;
    margin-top: -5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 100ms ease-in-out; }
  /* line 144, app/stylesheets/_player_bar.scss */
  .seek-bar.no-animate .fill, .seek-bar.no-animate .thumb {
    transition: none; }
  /* line 149, app/stylesheets/_player_bar.scss */
  .seek-bar:hover .thumb {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px; }

/* line 1, app/stylesheets/_buttons.scss */
.default-button {
  background-color: #D2287B;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 2px;
  outline: none; }
  /* line 12, app/stylesheets/_buttons.scss */
  .default-button:active {
    background-color: #9B1D64;
    outline: none; }
  /* line 17, app/stylesheets/_buttons.scss */
  .default-button:disabled {
    background-color: #B3B3B3;
    cursor: not-allowed; }

/* line 2, app/stylesheets/_profile.scss */
.user-profile-header {
  border: none;
  font-size: 24px;
  font-weight: 300;
  margin-top: 20px; }

/* line 8, app/stylesheets/_profile.scss */
.user-image-container {
  display: inline-block; }

/* line 13, app/stylesheets/_profile.scss */
+ .tab-content.user-subscription .well {
  background: transparent;
  border: #D2287B 2px solid; }
/* line 18, app/stylesheets/_profile.scss */
+ .tab-content.user-subscription + .subsection-label {
  margin-bottom: 15px;
  font-size: 24px;
  color: white;
  font-weight: 300; }
/* line 26, app/stylesheets/_profile.scss */
+ .tab-content.user-subscription .table.credit-card-list td {
  border-top-color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  font-size: 16px; }
/* line 32, app/stylesheets/_profile.scss */
+ .tab-content.user-subscription .fa-minus-circle {
  color: #D2287B; }

/* line 37, app/stylesheets/_profile.scss */
.user-profile-tabs-container {
  margin: 42px auto 20px;
  text-align: center; }
  /* line 40, app/stylesheets/_profile.scss */
  .user-profile-tabs-container .pagination.profile-pagination {
    font-weight: 700;
    border: #D2287B 2px solid;
    border-radius: 8px; }
    /* line 45, app/stylesheets/_profile.scss */
    .user-profile-tabs-container .pagination.profile-pagination > li > a {
      border: none;
      background-color: transparent;
      color: white;
      letter-spacing: 2px; }
    /* line 52, app/stylesheets/_profile.scss */
    .user-profile-tabs-container .pagination.profile-pagination > .active > a {
      background-color: #D2287B;
      border-radius: 4px; }

/* line 61, app/stylesheets/_profile.scss */
.default-form label {
  font-weight: 300;
  font-size: 16px; }
/* line 65, app/stylesheets/_profile.scss */
.default-form input {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0;
  border: none;
  font-weight: 300;
  font-size: 16px;
  padding: 10px 12px 10px; }

/* line 75, app/stylesheets/_profile.scss */
.no-left-gutter {
  padding-left: 0px; }

/* line 79, app/stylesheets/_profile.scss */
.no-right-gutter {
  padding-right: 0px; }

/* line 8, stdin */
html {
  height: 100%; }

/* line 12, stdin */
body {
  font-family: 'Open Sans';
  color: white;
  min-height: 120%;
  background: -webkit-radial-gradient(#2b1339, #380c77);
  background: radial-gradient(#2b1339, #380c77);
  padding-bottom: 150px; }

/* line 21, stdin */
body.landing {
  background: #5B5579;
  color: white;
  font-family: 'Open Sans';
  padding-bottom: 0; }

/* line 28, stdin */
.hero-content {
  background: #2F1D57;
  padding: 100px 0; }

/* line 33, stdin */
.hero-content h1 {
  font-size: 70px;
  margin-bottom: 50px;
  font-weight: 300; }

/* line 39, stdin */
.selling-points {
  padding: 100px 0; }

/* line 43, stdin */
.selling-points .point {
  width: 32%;
  float: left;
  padding: 0 0.5%; }

/* line 49, stdin */
.selling-points .point h5 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  height: 85px; }

/* line 56, stdin */
.selling-points .point p {
  font-size: 14px; }

/* line 63, stdin */
.player-header-nav {
  background-color: rgba(123, 70, 163, 0.9); }
  /* line 66, stdin */
  .player-header-nav .navbar-nav a {
    line-height: 45px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.2; }
    /* line 73, stdin */
    .player-header-nav .navbar-nav a:hover {
      color: rgba(123, 70, 163, 0.9); }

/* line 80, stdin */
body.landing .navbar {
  margin-bottom: 0; }

/* line 84, stdin */
.album-header-container {
  margin-top: 55px;
  margin-bottom: 40px; }

/* line 90, stdin */
.album-header-information {
  margin-top: 45px;
  margin-bottom: 20px; }

/* line 96, stdin */
.album-header-information h3, .album-header-information h4, .album-header-information h5 {
  line-height: 150%; }

/* line 103, stdin */
.album-header-information h3 {
  font-size: 48px;
  font-weight: 300; }

/* line 108, stdin */
.album-header-information h4 {
  font-size: 24px;
  font-weight: 700; }

/* line 113, stdin */
.album-header-information h5 {
  font-size: 16px;
  font-weight: 500; }

/* line 119, stdin */
.table.album-song-listing {
  font-weight: 300;
  color: white; }

/* line 126, stdin */
.table.album-song-listing td {
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.4); }

/* line 131, stdin */
body.player {
  color: white; }

/* line 135, stdin */
.collection-album-container {
  margin-top: 30px;
  margin-bottom: 20px; }

/* line 139, stdin */
.collection-album-container .caption {
  margin-top: 10px; }

/* line 142, stdin */
.collection-album-container .caption p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6); }

/* line 147, stdin */
.collection-album-container .caption p a {
  color: rgba(255, 255, 255, 0.6); }

/* line 150, stdin */
.collection-album-container .caption p a.album-name {
  color: white; }

/* line 154, stdin */
.collection-album-container img {
  max-width: 100%; }

/* line 158, stdin */
.collection-album-container .collection-album-image-container {
  position: relative; }

/* line 162, stdin */
.collection-album-container .collection-album-image-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10; }

/* line 172, stdin */
.collection-album-container .collection-overlay-content {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center; }

/* line 179, stdin */
.collection-album-container .collection-overlay-button {
  font-size: 20px;
  background-color: white;
  color: #d2287b;
  border-radius: 50% 50%;
  display: inline-block;
  width: 42px;
  height: 42px; }

/* line 189, stdin */
.collection-album-container .collection-overlay-button:hover {
  cursor: pointer;
  color: white;
  background-color: #d2287b; }

/* line 195, stdin */
.collection-album-container .collection-overlay-button i {
  line-height: 42px; }

/* line 199, stdin */
.collection-album-container .collection-overlay-button .fa-play {
  padding-left: 5px; }

/* line 203, stdin */
.album-song-button {
  text-align: center;
  font-size: 14px;
  background-color: white;
  color: #d2287b;
  border-radius: 50% 50%;
  display: inline-block;
  width: 28px;
  height: 28px; }

/* line 214, stdin */
.album-song-button:hover {
  cursor: pointer;
  color: white;
  background-color: #d2287b; }

/* line 220, stdin */
.album-song-button i {
  line-height: 28px; }

/* line 224, stdin */
.album-song-button .fa-play {
  padding-left: 5px; }

/* line 228, stdin */
.album-song-listing td {
  vertical-align: middle; }

/* line 232, stdin */
td.song-number {
  padding: 0;
  height: 70px;
  text-align: center; }

/* line 238, stdin */
.player-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  background: rgba(255, 255, 255, 0.3);
  z-index: 100; }

/* line 248, stdin */
.player-bar a, .player-bar a:hover {
  color: white;
  cursor: pointer;
  text-decoration: none; }

/* line 254, stdin */
.player-bar .container {
  display: table;
  padding: 0;
  min-height: 100%; }

/* line 260, stdin */
.player-bar-control-group {
  display: table-cell;
  vertical-align: middle; }

/* line 265, stdin */
.player-bar .left-controls {
  width: 25%;
  text-align: left; }

/* line 270, stdin */
.player-bar .right-controls {
  width: 25%;
  text-align: right; }

/* line 275, stdin */
.player-bar .play-controls a {
  font-size: 20px;
  vertical-align: middle;
  transition: opacity 100ms ease-in-out; }

/* line 281, stdin */
.player-bar .play-controls a:hover {
  opacity: 0.5; }

/* line 285, stdin */
.player-bar .play-controls .previous {
  margin-right: 65px; }

/* line 289, stdin */
.player-bar .play-controls .play-pause {
  margin-right: 60px;
  font-size: 30px; }

/* line 294, stdin */
.player-bar .currently-playing {
  width: 50%;
  text-align: center;
  position: relative; }

/* line 301, stdin */
.player-bar .currently-playing .song-name, .player-bar .currently-playing .artist-name {
  text-align: center;
  font-size: 12px;
  margin: 0;
  position: absolute;
  width: 100%;
  font-weight: 300; }

/* line 311, stdin */
.player-bar .currently-playing .song-name {
  top: 20px; }

/* line 315, stdin */
.player-bar .currently-playing .artist-name {
  bottom: 20px; }

/* line 319, stdin */
.seek-control {
  position: relative; }

/* line 323, stdin */
.seek-control .current-time {
  position: absolute;
  top: 10px; }

/* line 328, stdin */
.seek-control .total-time {
  position: absolute;
  right: 0;
  top: 10px; }

/* line 334, stdin */
.seek-bar {
  height: 5px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  position: relative;
  cursor: pointer; }

/* line 342, stdin */
.seek-bar .fill {
  background: white;
  width: 36%;
  height: 5px;
  border-radius: 2px; }

/* line 349, stdin */
.seek-bar .thumb {
  position: absolute;
  height: 10px;
  width: 10px;
  background: white;
  left: 36%;
  margin-left: -5px;
  top: 50%;
  margin-top: -5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 100ms ease-in-out; }

/* line 363, stdin */
.seek-bar:hover .thumb {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px; }

/* line 370, stdin */
.player-bar .queue-toggle {
  display: inline-block;
  margin-left: 75px; }

/* line 375, stdin */
.player-bar .queue-toggle i {
  font-size: 20px; }

/* line 379, stdin */
.player-bar .volume {
  display: inline-block; }

/* line 383, stdin */
.player-bar .volume i {
  width: 40px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle; }

/* line 389, stdin */
.player-bar .volume .seek-bar {
  display: inline-block;
  width: 100px;
  vertical-align: middle; }


/*# sourceMappingURL=app.css.map*/